<% unless user_signed_in? %>
    <div class="hero-unit">
        <h1>Welcome to Amphitryon</h1>
        <p>
          You can Sign up Now
        </p>
      <br>

          <%= link_to new_user_registration_path,
                      class: "btn" do %>
              <i class="icon-user"></i> | Sign up Now
          <% end %>

          <%= link_to user_omniauth_authorize_path(:facebook),
                      class: "btn btn-facebok" do %>
              <i class="icon-facebook"></i> | Connect with Facebook
          <% end %>

    </div>
<% else %>
    #you can put anything you want here
<% end %>

