<h1>About Amphitryon</h1>

<div class="alert alert-info">
  <h4>Comming Soon!</h4>
  I'm still working on a lot new Features and Styles. Whenever those are ready
  i will style a nice about page :)
</div>

<div class="progress progress-striped active">
  <div class="bar" style="width: 40%;"></div>
</div>
