.size48 {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.show_pin_user_meta {
  color: #999;
  display: block;
  margin-top: -5px;
}

/* User Show header*/



.user-header {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  background: #fff;
  color: #333;
  height: 117px;
  position: relative;
  width: 736px;
  text-align: left;
}

.user-profile-image {
  float: left;
  position: relative;
  width: 153px;
  height: 117px;
}

img {
  max-width: 153px;
  width: auto	9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.div {
  display: block;
}

.user-profile-image:after {
  -webkit-box-shadow: -1px 0 rgba(0,0,0,0.1) inset;
  -moz-box-shadow: -1px 0 rgba(0,0,0,0.1) inset;
  box-shadow: -1px 0 rgba(0,0,0,0.1) inset;
  height: 117px;
  left: 0;
  position: absolute;
  top: 0;
  width: 153px;
}

.user-profile-information {
  float: left;
  padding-left: 14px;
  width: 555px;
}

.div {
  display: block;
}

.user-profile-name {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #333;
  color: rgba(21,21,21,0.8);
  text-shadow: 1px 2px 4px #fff,0 0 0 #000,1px 2px 4px #fff,0 1px 0 #fff;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: -2px;
  margin-left: -2px;
  margin-top: 5px;
  cursor: default;
}

.user-profile-bio {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  clear: both;
  color: #777;
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 10px;
  max-height: 55px;
  word-wrap: break-word;
  cursor: default;
}

.user-profile-social-links {
  display: block;
}

.user-profile-social-links a {
  text-decoration: none !important;
  color: #777;
}

