
<ul class="breadcrumb">
  <li><%= link_to "Categories", categories_path %> <span class="divider">/</span> </li>
  <li class="acive"><%= @category.name %></a> <span class="divider">/</span></li>
  <li class="pull-right"><%= @category.description %></li>
</ul>


<!--Rendering Pins from this Category-->
<%= render @category.pins %>
